<!-- index.html ---
     ;;
     ;; Filename: index.html
     ;; Description:
     ;; Author: Mateo Rodriguez Ripolles
     ;; Maintainer:
     ;; Created: lun. févr. 18 11:54:09 2019 (+0100)
     ;; Version:
     ;; Package-Requires: ()
     ;; Last-Updated:
     ;;           By:
     ;;     Update #: 0
     ;; URL:
     ;; Doc URL:
     ;; Keywords:
     ;; Compatibility:
     ;;
  -->

<!-- Commentary:
     ;;
     ;;
     ;;
  -->

<!-- Change Log:
     ;;
     ;;
  -->

<!-- This program is free software: you can redistribute it and/or modify
     ;; it under the terms of the GNU General Public License as published by
     ;; the Free Software Foundation, either version 3 of the License, or (at
     ;; your option) any later version.
     ;;
     ;; This program is distributed in the hope that it will be useful, but
     ;; WITHOUT ANY WARRANTY; without even the implied warranty of
     ;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
     ;; General Public License for more details.
     ;;
     ;; You should have received a copy of the GNU General Public License
     ;; along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!-- Code: -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>{{.Title}}</title>
  </head>
  <body>
    <header id="header-bar" class="site-header" role="banner" style="top: 0px;">
      <div class="wrapper">
        <a class="site-title" href="/">UncharBlog</a>
        <nav class="site-nav">
          <a class="page-link" href="/edit/0">☉ Create Post</a>
        </nav>
        <!-- <nav class="site-nav"> -->
          <!--   <a class="page-link" href="/lil-log/contact.html">🤗 Contact</a> -->
          <!-- </nav> -->
        <!-- <nav class="site-nav"> -->
          <!--   <a class="page-link" href="/lil-log/FAQ.html">🤔 FAQ</a> -->
          <!-- </nav> -->
        <!-- <nav class="site-nav"> -->
          <!--   <a class="page-link" href="/lil-log/tags.html">🔖 Tags</a> -->
          <!-- </nav> -->
      </div>
      <div></div><div></div><div></div>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home other-pages">
          <h1 class="page-heading">Unchartech global news</h1>
          <ul class="post-list">
            {{range $i_post, $post := .List}}
            <li>
              <span class="post-meta">
                {{$post.CreationDate}} (Last Update: {{$post.UpdateDate}})
                <a href="{{$post.Link}}" style="margin-right:20px;">(🔗 Link)</a>
                {{$len_name := len $post.Tag.TagName}}
                {{$len_id := len $post.Tag.TagId}}
                {{if eq $len_name $len_id}}
                {{range $i, $tag := $post.Tag.TagName}}
                <span>
                  <a class="post-tag" href="/tag/{{index $post.Tag.TagId $i}}?tag_name={{index $post.Tag.TagName $i}}">
                    <nobr>{{index $post.Tag.TagName $i}}</nobr>
                  </a>
                </span>
                {{end}}
                {{end}}
              </span>
              <h2>
                <a class="post-link" href="/view/{{$post.Id}}">{{$post.Title}}</a>
                <blockquote><p>{{$post.Fil.Body}}</p></blockquote>
              </h2>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>

<!-- index.html ends here -->
