<!-- view.html ---
     ;;
     ;; Filename: view.html
     ;; Description:
     ;; Author: Mateo Rodriguez Ripolles
     ;; Maintainer:
     ;; Created: ven. févr. 15 12:11:33 2019 (+0100)
     ;; Version:
     ;; Package-Requires: ()
     ;; Last-Updated:
     ;;           By:
     ;;     Update #: 0
     ;; URL:
     ;; Doc URL:
     ;; Keywords:
     ;; Compatibility:
     ;;
  -->

<!-- Commentary:
     ;;
     ;;
     ;;
  -->

<!-- Change Log:
     ;;
     ;;
  -->

<!-- This program is free software: you can redistribute it and/or modify
     ;; it under the terms of the GNU General Public License as published by
     ;; the Free Software Foundation, either version 3 of the License, or (at
     ;; your option) any later version.
     ;;
     ;; This program is distributed in the hope that it will be useful, but
     ;; WITHOUT ANY WARRANTY; without even the implied warranty of
     ;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
     ;; General Public License for more details.
     ;;
     ;; You should have received a copy of the GNU General Public License
     ;; along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!-- Code: -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>{{.Title}}</title>
  </head>
  <body>
    <header id="header-bar" class="site-header" role="banner" style="top: 0px;">
      <div class="wrapper">
        <a class="site-title" href="/">UncharBlog</a>
        <nav class="site-nav">
          <a class="page-link" href="/edit/0">☉ Create Post</a>
        </nav>
        <!-- <nav class="site-nav"> -->
          <!--   <a class="page-link" href="/lil-log/contact.html">🤗 Contact</a> -->
          <!-- </nav> -->
        <!-- <nav class="site-nav"> -->
          <!--   <a class="page-link" href="/lil-log/FAQ.html">🤔 FAQ</a> -->
          <!-- </nav> -->
        <!-- <nav class="site-nav"> -->
          <!--   <a class="page-link" href="/lil-log/tags.html">🔖 Tags</a> -->
          <!-- </nav> -->
      </div>
      <div></div><div></div><div></div>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{.Title}}</h1>
            <p class="post-meta">
              <time itemprop="datePublished">
                Created: {{.CreationDate}}, Updated: {{.UpdateDate}}
              </time>
              <a href="{{.Link}}" style="margin-right:20px;">(🔗 Link)</a>
              <a class="page-link" href="/edit/{{.Id}}">✒Edit</a>
              {{$len_name := len .Tag.TagName}}
              {{$len_id := len .Tag.TagId}}
              {{if eq $len_name $len_id}}
              {{range $i, $tag := .Tag.TagName}}
              <span>
                <a class="post-tag" href="/tag/{{index $.Tag.TagId $i}}?tag_name={{index $.Tag.TagName $i}}">
                  <nobr>{{index $.Tag.TagName $i}}</nobr>
                </a>
              </span>
              {{end}}
              {{end}}
            </p>
          </header>
          <div class="post-content" itemprop="articleBody">
            {{.Fil.Body}}
          </div>
        </article>
      </div>
    </main>
  </body>
</html>


<!-- <h1>{{.Title}}</h1> -->
<!-- <p>[<a href="/edit/{{.Id}}">edit</a>]</p> -->
<!-- <div>{{printf "%s" .Fil.Body}}</div> -->

<!-- view.html ends here -->
